@use "sass:math";

$max-width: 600px;
$b2-breakpoint: 400px;

@mixin b1 {
  @media (max-width: ($max-width)) {
    @content;
  }
}

@mixin b2 {
  @media (max-width: ($b2-breakpoint)) {
    @content;
  }
}


.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.header_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header_footer_main {
    min-height: 60px;
    padding: 0 20px;
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: $max-width;
  }
}



.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .header_footer_main {
    justify-content: space-between;

    .condition {
      display: block;
      width: 70px;
      font-size: 26px;
      text-align: center;
    }
  }
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  .header_footer_main {
    justify-content: space-between;

    .operation_button {
      margin-right: 20px;
    }

    .select {
      flex: 1;
    }
  }
}

.operation_button {
  display: flex;
  flex: 0 0 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  cursor: pointer;

  &>* {
    position: relative;
  }
}

.main {
  width: 100%;
  max-width: $max-width;
  padding: 5px 0;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pointer {
  cursor: pointer !important;
}

.hidden {
  opacity: 0;
}

.board_wrap {
  width: 100%;
  flex: 0;
  display: table;
  border-collapse: collapse;
  background-clip: padding-box;
  $max-width-font-size: 32px;
  $b1-font-size: math.div($max-width-font-size, $max-width) * 100vw;
  font-size: $max-width-font-size;
  cursor: default;

  @include b1 {
    font-size: $b1-font-size;
  }

  th,
  td {
    width: 10%;
    //border: solid 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle;
  }

  .red {
    background-color: #ffa8a8 !important;
  }

  .red_light {
    background-color: #ffd1d1 !important;
  }

  .piece {
    position: relative;
    font-size: 1em;
    font-weight: 900;
    padding: 0;
    transform: translate(0, 4%);
  }

  .gote {
    .piece>.inner {
      transform: translate(0, -11%) rotate(180deg);
    }
  }

  .square {
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    background-clip: padding-box;

    .piece {
      transform: translate(0, -12%);
    }
  }

  .stand {

    .stand_square {
      position: relative;
      border: 1.5px solid rgba(0, 0, 0, 0.4);
      background-color: #ffffff;
      background-clip: padding-box;

      &>.inner {
        padding-left: 12px;
        text-align: left;

        .piece {
          transform: translate(0, 4%);
        }

        &>* {
          display: table-cell;
          vertical-align: middle;
        }

        .multiply {
          font-size: 0.7em;
        }
      }

      &.win_lose {
        font-size: 1em;
        font-weight: 900;

        &.win {
          color: rgb(255, 30, 30);
        }

        &.lose {
          color: rgb(0, 68, 255);
        }
      }
    }
  }

  .square,
  .verpad {
    position: relative;

    &::before {
      display: block;
      content: "";
    }

    &.square::before {
      padding-top: 100%;

    }

    &.verpad::before {
      padding-top: 40%;
    }

    &>.inner {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .holpad {
    width: 4%;

    &.board_index {
      width: 6%;
    }

    &>.inner {
      position: relative;
      left: 10%;
      text-align: left;
    }
  }

  .board_index {
    font-size: 0.4em;
    font-weight: 400;
  }

}